name: Go CI Build und Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    # Definiert das Betriebssystem, auf dem der Job laufen soll
    runs-on: ubuntu-latest

    steps:
      # Schritt 1: Code aus dem Repository klonen
      - name: Code auschecken
        uses: actions/checkout@v4

      # Schritt 2: Go-Umgebung einrichten
      # Definiert, welche Go-Version verwendet werden soll
      - name: Go Umgebung einrichten
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          
      # Schritt 3: Das Programm bauen (Kompilieren)
      - name: Go Programm bauen
        run: go build -v ./...
        
      # Schritt 4: Die Tests ausführen
      - name: Go Tests ausführen
        run: go test -v ./...
        
